<h1>Editing Group</h1>

<%= render 'form', portfoloio: @portfoloio %>

<%= link_to 'Show', @portfoloio %> |
<%= link_to 'Back', portfolios_path %>
<%= link_to "Delete", @portfolio, method: :destroy, data: { confirm: 'Are you sure?' } %>
