<main role="main" class="inner cover">
    <%= render "shared/welcome" %>
    <div class="row justify-content-center">
      <h3 class="cover-heading1">Are you ready to take your project to the next level?</h3>

      <div class="helping">

        <p class="address-style">Office Address:</p>

        <p>123 East West Anystreet Rd. Unit 7</p>
        <p>Cityville River Terrace, US 01234</p>
        <p class="address-style">Phone:</p>
        <p>(987) 654-3210</p>
        <p class="address-style">Email:</p>
        <p>rRichards@example.com</p>
        <p>
          <%= link_to "Send an email", about_path, class: "btn btn-lg btn-outline-danger btn-center text-center" %><p>"All requests are kept confidential"</p>
        </p>
      </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3122.515106548126!2d-123.00440944856898!3d38.49882937953399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808421fd43ff38af%3A0x63153d8c27e2505a!2s16599%20Neeley%20Rd%2C%20Guerneville%2C%20CA%2095446!5e0!3m2!1sen!2sus!4v1601600378633!5m2!1sen!2sus" width="450" height="375" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

  </main>

