  <main role="main" class="inner cover">
    <%= render "shared/welcome" %>
    <h3 class="cover-heading text-center mt-4">Cover your page.</h3>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <%= link_to "Learn More", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>




