  <main role="main" class="inner cover">
    <%= render "shared/welcome" %>
    <div class="row justify-content-center">
      <h1 class="cover-heading-home">
        Welcome
      </h1>
      <p class="lead">
        Software development should be thundercats vegan biodiesel, vice mustache coloring book poke vaporware 90's artisan raclette. Taiyaki asymmetrical pok pok, ugh sustainable put a bird on it tilde letterpress sartorial man bun readymade echo park williamsburg succulents plaid. Pour-over kogi four loko, migas food truck occupy readymade shaman YOLO venmo woke glossier gastropub literally. Hammock chia man braid hoodie hot chicken, chartreuse health goth. Gluten-free DIY retro, schlitz whatever locavore farm-to-table.
      </p>
      <p class="lead">
       Post-ironic jean shorts af kale chips vape YOLO migas pug flannel. Unicorn try-hard sriracha small batch pork belly, flexitarian echo park.
      </p>
      <div class="lead1">
        <p>
          <%= link_to "About Me", about_path, class:"btn btn-lg btn-secondary border border-warning"%>
        </p>
      </div>
    </div>
  </main>
  <div class="hline">
  </div>



