
/* my Bootstrap overrides */






/* Bootstrap Example CSS */


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}



/* my original CSS */

.portfolios-layout-class {
  background-color: #e6e6ff;
  color: black;
  }

.portfolios-nav {
  background-color: #9999ff;
  font-weight: bold;
  font-weight: 900;
}

.portfolios-alert {
  background-color: #4d0026;
  color: white;
}
