.portfolios-layout-class {
  background-color: #e6e6ff;
}

.portfolios-nav {
  background-color: #9999ff;
  font-weight: bold;
  font-weight: 900;
}

.portfolios-alert {
  background-color: #4d0026;
  color: white;
}
